{% extends 'base.html' %}

{% set title = 'Edit recipe' %}
{% set confirm_message = 'Save recipe?' %}

{% block content %}
    <h1>Edit recipe</h1>

    <div class="row">
        <div class="col-lg-6">
            {% include 'recipes/_form.html' %}
        </div>

        <div class="col-lg-6">
            <h2>Ingredients</h2>

            {% include 'recipes/_ingredient_list.html' %}

            <h2>Images</h2>

            {% include 'recipes/_image_list.html' %}
        </div>
    </div>
{% endblock %}