<form method="post">
    {{ form.csrf_token }}

    <div class="mb-3">
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
        {% if form.name.errors %}
            <ul>
                {% for error in form.name.errors %}
                    <li class="text-danger">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="mb-3">
        {{ form.description.label(class="form-label") }}
        {{ form.description(class="form-control") }}
        {% if form.description.errors %}
            <ul>
                {% for error in form.description.errors %}
                    <li class="text-danger">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="row g-3 align-items-center">
        <div class="col-auto">
            {{ form.submit(class="btn btn-primary", onclick="return confirm('" ~ confirm_message ~ "')") }}
        </div>
        <div class="col-auto">
            <a href="{{ url_for('categories.list_all') }}" class="btn btn-secondary">Close</a>
        </div>
    </div>
</form>